@charset "UTF-8";
.zip-class {width: 30% !important; display: inline-flex !important;}
.form-div {color:#815854;}
.form-control-rest {background-color:#fcf5ed;display: block;width: 100%; padding: .375rem .75rem;font-size: 1rem;
font-weight: 400;line-height: 1.5;color: #815854;background-clip: padding-box;border: 1px solid #fff;
border-radius: .25rem;transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;}
label {font-weight: bold; font-size: 15px;}
.phone {width: 30% !important;display: inline-flex !important;}
.hyphen {margin-left: 2%;margin-right: 2%;}
textarea {height: 6.25em !important;resize: none;}                                                                       
.button-group {text-align: center;}
.frm_file{margin-bottom: 5px;}