<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tf.spring.dao.RestaurantDAO">
 	<select id="getSearchList" resultType="kr.tf.spring.model.vo.RestaurantVO">
 		select re_id, re_name, re_address, re_phone, re_score, re_x, re_y 
 		from restaurant
 		<if test="stx != null">
 			where 
			<choose>
				<when test="sfl == 're_name'">
					re_name like concat('%',#{stx},'%')
				</when>
				<when test="sfl == 're_tag'">
					re_tag like concat('%',#{stx},'%')
				</when>
				<otherwise>
					re_name like concat('%',#{stx},'%') or re_tag like concat('%',#{stx},'%')
				</otherwise>
			</choose>
		</if>
		<choose>
	        <when test="sort == 're_name DESC'">
	            order by re_name DESC
	        </when>
	        <when test="sort == 're_score DESC'">
	            order by re_score DESC
	        </when>
	        <when test="sort == 're_score ASC'">
	            order by re_score ASC
	        </when>
	        <otherwise>
	            order by re_name ASC
	        </otherwise>
	    </choose>
 	</select>
 	<select id="findRestById" resultType="kr.tf.spring.model.vo.RestaurantVO">
 		SELECT * FROM restaurant where re_id = #{re_id}
 	</select>
 	<select id="getReviewName" resultType="kr.tf.spring.model.vo.RestaurantVO">
 		select re_id, re_name, re_address, re_phone, re_score from restaurant where re_id = #{re_id};
 	</select>
 	<insert id="restaurantRegistert" keyProperty="rest.re_id" useGeneratedKeys="true">
 	<![CDATA[
 		insert into restaurant
 		set re_name = '${rest.re_name}',
 			re_us_id = '${rest.re_us_id}',
 			re_x = '${rest.re_x}',
 			re_y = '${rest.re_y}',
 			re_phone = '${rest.re_phone}',
 			re_zip = ${rest.re_zip},
 			re_address = '${rest.re_address}',
 			re_address2 = '${rest.re_address2}',
 			re_tag = '${rest.re_tag}',
 			re_content = '${rest.re_content}',
 			re_category = '${rest.re_category}',
 			re_day = '${rest.re_day}',
 			re_state = '${rest.re_state}'
 			re_score = 0,
 			re_views = 0,
 			re_time = NOW();
 		]]>
 	</insert>
 	<insert id="insertFile">
		insert into file(fi_path, fi_ori_id, fi_re_id)
		values(#{file.fi_path},#{file.fi_ori_id},#{file.fi_re_id})
	</insert>
	<select id="findRestByUserId" resultType="kr.tf.spring.model.vo.RestaurantVO">
	select * from restaurant where re_us_id = #{user.us_id}
	</select>
	<select id="selectFileRestaurant" resultType="kr.tf.spring.model.vo.FileVO">
		select * from file where fi_re_id = ${re_id} order by fi_id ASC
	</select>
</mapper>