<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tf.spring.dao.UserDAO">
    <select id="findById_InUserDB" resultType="kr.tf.spring.model.vo.UserVO">
        select * from user where us_id = #{us_id}
    </select>
    <select id="findByIdAndAuth" resultType="kr.tf.spring.model.vo.UserVO">
        select * from user where us_id = #{us_id} AND us_auth = #{us_auth}
    </select>
    <select id="findUsersByName" resultType="kr.tf.spring.model.vo.UserVO">
        select * from user where us_name = #{us_name}
    </select>
    <select id="findUserById" resultType="kr.tf.spring.model.vo.UserVO">
        select * from user where us_id = #{us_id}
    </select>
    <select id="getAllUsers" resultType="kr.tf.spring.model.vo.UserVO">
        SELECT * FROM user;
    </select>
    <update id="updateUser">
        update user
        set
            us_pw = #{us_pw},
            us_auth = #{us_auth},
            us_name = #{us_name},
            us_gender = #{us_gender},
            us_hbd = #{us_hbd},
            us_phone = #{us_phone},
            us_email = #{us_email},
            us_failed = #{us_failed},
            us_cookie = #{us_cookie},
            us_limit = #{us_limit},
            us_report = #{us_report},
            us_stop = #{us_stop},
            us_icon = #{us_icon},
            us_say = #{us_say}
        where us_id = #{us_id}
    </update>
    <delete id="deleteUser">
        delete from user where us_id = #{us_id}
    </delete>
    <insert id="insertUser" parameterType="kr.tf.spring.model.vo.UserVO">
        INSERT INTO user (us_id, us_pw, us_auth, us_name, us_gender, us_hbd, us_phone, us_email, us_failed, us_cookie, us_limit, us_report, us_stop, us_icon, us_say)
        VALUES (#{us_id}, #{us_pw}, #{us_auth}, #{us_name}, #{us_gender}, #{us_hbd}, #{us_phone}, #{us_email}, #{us_failed}, #{us_cookie}, #{us_limit}, #{us_report}, #{us_stop}, #{us_icon}, #{us_say})
    </insert>
</mapper>
